/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

h1, h2, h3{
  margin:.5em;
}
a{
  color:#374353;
}

body {
  background: #fff;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 12px;
  line-height: 18px;
}
#page_container{
  margin-top:50px;
  padding-bottom:75px;
  border:1px solid #fff;
  background:#fff;
  width:1000px;
  margin:50px auto;
  -moz-box-shadow: 0px 0px 30px rgba(68,68,68,0.6);
  -webkit-box-shadow: 0px 0px 30px rgba(68,68,68,0.6);
  box-shadow: 0px 0px 30px rgba(68,68,68,.3);

  behavior: url(/stylesheets/PIE.htc);
  position:relative;
  
}

/*********** HEADER ***********/
header{
  width:570px;
  border-bottom:1px solid #94949f;
}
h1#logo{
  padding-top:55px;
  text-align:center;
  background:url("/images/logo.png") no-repeat 50% top;
  font-size:1.2em;
  margin:45px 0 15px 0;
  font-weight:400;
  letter-spacing:1px;
}
#logo a{
  text-decoration:none;
  line-height:1em;
}
#logo span{
  display:block;
  font-size:70%;
}

/*********** BODY ***********/

#body_content, #side_body_content {
  float: left;
  width: 42%;
  background: white;
  color: #333;
  padding: 0 20px;
}


/*********** Nav Menu ***********/


#menu{

}
#menu ul {
  list-style: none;
  padding: 0px;
  margin:15px 0;
  text-align:center;
  word-spacing:20px;
}

#menu ul li {
  display:inline-block;
  float:none;
  margin-right: 0;
}

#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu ul li.selected a {
  font-style:italic;
  font-weight:normal;
}

#slideshow{
  width:694px;
  height:313px;
  display:hidden;
  margin:0 auto;
}
#slideshow-wrap{
  width:1000px;
  margin-left:-214px;
}
/*********** Page ***********/

section#page{
  width:570px;
  border-top:1px solid #6d6f7d;
}
/*********** About ***********/

.how #body_content p,
.what #body_content p{
  display:block;
  padding:0;
  margin:0;
  border:1px solid #fff;
  float:left;
  line-height:0;
  -moz-box-shadow: 0px 2px 5px #c5c7c9;
  -webkit-box-shadow: 0px 2px 5px #c5c7c9;
  box-shadow: 0px 2px 5px #c5c7c9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.how #body_content img,
.what #body_content img{
  padding:8px;
  border:1px solid #e3e4e5;

}

/*********** Portfolio ***********/

#portfolio{
  text-align:center;
  word-spacing:20px;
  line-height:55px;
}
#portfolio a{
  padding:0;
  margin:0;
  line-height:0;
  display:inline-block;
  border:1px solid #fff;
  -moz-box-shadow: 0px 2px 5px #c5c7c9;
  -webkit-box-shadow: 0px 2px 5px #c5c7c9;
  box-shadow: 0px 2px 5px #c5c7c9;
}
#portfolio a img{
  border:1px solid #c5c7c9;
  padding:10px;
  
}
/*********** Footer ***********/
footer{
  width:570px;
  margin-top:35px;
  font-size:90%;
  line-height:2.2em;
  text-align:center;
  position:relative;
}
footer img{
  position:absolute;
  right:0;
  top:0;
}