
<section id='body_content'>
  <%=raw @page.content_for :body %>
</section>
<section id='side_body_content'>
  <% if @page.level > 0 && @page.siblings %>
    <%= render(:partial => "/shared/menu", :locals => {
                 :dom_id => 'menu',
                 :css => 'menu',
                 :roots => @page.parent.children
               }) %>
  <% end %>
  <%=raw @page.content_for :side_body %>
</section>